@page
@model RaptorsCoreRazor.Pages.Raptors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Raptor[0].PlayerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raptor[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raptor[0].PlayerPosition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raptor[0].PlayerHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raptor[0].PlayerSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Raptor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerSalary)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
